<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/_variables.scss"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

                    <a class="navbar-brand" href="{{ path('home') }}"> Blog application </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('blog') }}"> Article </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('blog_new') }}">Add a new Articles </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_registration') }}" > Sign in </a>
                            </li>
                            {% if not app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('security_login') }}" > Login </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('security_logout') }}"> Logout </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

            </nav>


        <div class="container">
                {% block body %}
                {% endblock %}
        </div>

    <script src="{{ asset('https://bootswatch.com/_vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {% block javascripts %}{% endblock %}

    </body>
</html>

